---
import "../../styles/global.css";
import Navbar from "../../components/ui/Navbar.astro";

const base = import.meta.env.BASE_URL;
---

<html lang="es">

  <head>

    <meta charset="UTF-8" />
    <title>Portfolio</title>

    <link rel="icon" type="image/png" href={`${base}/images/icon.png`} />

  </head>

  <body>

    <Navbar />

    <main>
      <slot />
    </main>

    <script>
      import "../../scripts/scrollSpy.ts";
    </script>

  </body>

</html>