---
import "../../styles/global.css";
import Navbar from "../../components/ui/Navbar.astro";

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Portfolio</title>
  </head>

  <body>

    <Navbar />

    <main>
      <slot />
    </main>
        <script>
        import "../../scripts/scrollSpy.ts";
        </script>
  </body>
</html>