---
import SectionWrapper from "../ui/SectionWrapper.astro";
import Card from "../ui/Card.astro";
---

<SectionWrapper id="about">

  <Card>

    <div class="about-grid">

      <div>

        <span class="eyebrow">
          02 / MINDSET
        </span>

        <h2>

          Pensando en <span>sistemas</span>.
          No solo en código. 

        </h2>

        <p>

          Soy estudiante de Ingeniería en Telemática con experiencia en calidad de software, 
          desarrollo web y validación de datos. He trabajado con herramientas como Jira, SQL, 
          Python y Postman para diseñar pruebas, analizar información y asegurar el correcto 
          funcionamiento de aplicaciones web y móviles.

        </p>

        <p>

          Actualmente trabajo en un proyecto de realidad virtual aplicada al aprendizaje de redes de fibra óptica, 
          integrando software, análisis y experiencia de usuario.

        </p>

      </div>

      <div class="photo-container">

            <img
            src={`${import.meta.env.BASE_URL}/images/ivan.jpeg`}
            alt="Ivan Ramirez"
            />

      </div>

    </div>

  </Card>

</SectionWrapper>

<style>

.about-grid{

  display:grid;

  grid-template-columns:

  1.2fr 0.8fr;

  gap:40px;

  align-items:center;

}

.eyebrow{

  font-size:12px;

  letter-spacing:2px;

  color:#38bdf8;

}

h2{

  font-size:40px;

  margin:10px 0 20px;

}

h2 span{

  color:#38bdf8;

}

p{

  color:#94a3b8;

  margin-bottom:14px;

  line-height:1.7;

}

.photo-container{

  display:flex;

  justify-content:center;

}

.photo-container img{

  width:200px;
  height:200px;

  object-fit:cover;

  border-radius:50%;

  padding:6px;

  background:linear-gradient(
    45deg,
    #38bdf8,
    #22c55e
  );

}

@media (max-width:900px){

  .about-grid{

    grid-template-columns:1fr;

    text-align:center;

  }

}

</style>