---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<div class="card">

  <slot />

</div>

<style>

.card{

  width:min(1200px, 92vw);

  padding:50px;

  border-radius:20px;

  position:relative;

  background:linear-gradient(
    180deg,
    rgba(2,6,23,0.9),
    rgba(2,6,23,0.95)
  );

  border:1px solid rgba(56,189,248,0.25);

  box-shadow:
    0 0 0 1px rgba(56,189,248,0.15),
    0 10px 40px rgba(0,0,0,0.5);

}

/* borde degradado */
.card::before{

  content:"";

  position:absolute;

  inset:0;

  border-radius:20px;

  padding:1px;

  background:linear-gradient(
    90deg,
    #38bdf8,
    #22c55e
  );

  pointer-events:none;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite:xor;

  mask-composite:exclude;

}

/* laptop 13" */
@media (max-width:1350px){

  .card{

    width:min(1100px, 94vw);

  }

}

/* tablet */
@media (max-width:900px){

  .card{

    padding:40px;

    width:92vw;

  }

}

/* mobile */
@media (max-width:600px){

  .card{

    padding:28px 20px;

    width:94vw;

  }

}

</style>