---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="section">

  <slot />

</section>

<style>

.section{
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  scroll-snap-align:start;
}

</style>